aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #ffff
}


aside.logo img {
     padding: 0px 15px;
     /* height: 100%; */
     width: 100%; 
/*      
     width: 225px;
    height: 99px;  */
}

